In [64]:
import pandas as pd
from glob import glob

In [2]:
file_list=glob('cerwer/*')

In [62]:
# 음원 파일의 길이가 담긴 데이터프레임 불러오기
duration=[]
for file in file_list:
    if "duration" in file:
        duration.append(file)

duration_df=pd.DataFrame()
for d in duration:
    tmp=pd.read_csv(d)
    duration_df=pd.concat([duration_df, tmp])

In [114]:
def analyze(duration_df):
    api=input("returnzero, naver, azure, google, whisper 중 하나 입력: ")
    target=[]
    for file in file_list:
        if api in file:
            target.append(file)
            
    zhengli=[]
    for t in target:
        api=t.split('_')[-1].split('.csv')[0]
        dataset=t.split('cw_')[1].split('_'+api)[0]
        df=pd.read_csv(t)
        
        # 인식 안된 데이터 제외 및 카운트
        null_df=df[((df['recognized_text'].isnull())|(df['recognized_text']=='error'))]
        df=df[~((df['recognized_text'].isnull())|(df['recognized_text']=='error'))]
        
        # 문자열일경우
        df['execution_time']=df['execution_time'].astype('float64')
        
        null_cnt=len(null_df)
        df=pd.merge(df, duration_df, on='file_name', how='left')
        mt_average_length = df['modified_text'].str.len().mean()
        rt_average_length = df['recognized_text'].str.len().mean()
        time_average=df['execution_time'].mean()
        cer_average=df['cer'].mean()
        wer_average=df['wer'].mean()
        duration_average=df['duration'].mean()
        zhengli.append([api, dataset,null_cnt, mt_average_length, rt_average_length, time_average,cer_average,wer_average, duration_average])
    zhengli=pd.DataFrame(zhengli)
    zhengli.columns=['api','dataset','null_cnt', 'mt_average_length', 'rt_average_length', 'time_average','cer_average','wer_average', 'duration_average']
    return zhengli

In [115]:
returnzero=analyze(duration_df)

returnzero, naver, azure, google, whisper 중 하나 입력: returnzero

In [116]:
returnzero

,api,dataset,null_cnt,mt_average_length,rt_average_length,time_average,cer_average,wer_average,duration_average
0,returnzero,eval_clean,0,23.277000,21.214000,1.477886,0.127897,0.285071,3.242690
1,returnzero,eval_other,1,31.391391,27.816817,1.440550,0.127522,0.294820,4.536618
2,returnzero,감성발화,0,21.323705,21.287849,1.629134,0.027352,0.127350,3.748494
3,returnzero,저음질,0,35.421000,29.246000,1.737158,0.138183,0.268973,5.579295

In [117]:
naver=analyze(duration_df)

returnzero, naver, azure, google, whisper 중 하나 입력: naver

In [118]:
naver

,api,dataset,null_cnt,mt_average_length,rt_average_length,time_average,cer_average,wer_average,duration_average
0,naver,eval_clean,115,25.079096,20.149153,2.657591,0.362855,0.586998,3.489519
1,naver,eval_other,31,32.196078,26.976264,3.448528,0.344597,0.601133,4.643202
2,naver,감성발화,0,21.323705,20.577689,2.410253,0.074826,0.315802,3.748494
3,naver,저음질,85,35.408096,23.966120,4.551286,0.477737,0.712197,5.581233

In [119]:
azure=analyze(duration_df)

returnzero, naver, azure, google, whisper 중 하나 입력: azure

In [120]:
azure

,api,dataset,null_cnt,mt_average_length,rt_average_length,time_average,cer_average,wer_average,duration_average
0,azure,eval_clean,8,23.458669,21.217742,0.918487,0.129641,0.263076,3.239850
1,azure,eval_other,1,31.547548,27.949950,1.196892,0.154135,0.311398,4.535301
2,azure,감성발화,0,21.323705,21.073705,1.090497,0.031772,0.123473,3.748494
3,azure,저음질,5,35.650251,34.143719,1.540665,0.146854,0.328333,5.585280

In [138]:
google=analyze(duration_df)

returnzero, naver, azure, google, whisper 중 하나 입력: google

In [139]:
google

,api,dataset,null_cnt,mt_average_length,rt_average_length,time_average,cer_average,wer_average,duration_average
0,google,eval_clean,48,24.228992,20.956933,0.848562,0.244118,0.444630,3.367206
1,google,eval_other,20,31.885714,27.727551,1.073529,0.239821,0.454330,4.608527
2,google,감성발화,0,21.323705,20.436255,0.936825,0.074366,0.238349,3.748494
3,google,저음질,100,35.774194,25.390000,1.258254,0.375538,0.595311,5.624246

In [124]:
whisper=analyze(duration_df)

returnzero, naver, azure, google, whisper 중 하나 입력: whisper

In [125]:
whisper

,api,dataset,null_cnt,mt_average_length,rt_average_length,time_average,cer_average,wer_average,duration_average
0,whisper,eval_clean,0,23.322000,22.060000,1.377163,0.122266,0.275972,3.242690
1,whisper,eval_other,1,31.388388,29.799800,1.846243,0.105621,0.269375,4.536915
2,whisper,감성발화,1,21.329013,21.167498,1.705030,0.023309,0.115921,3.749183
3,whisper,저음질,6,35.540241,32.799799,1.388102,0.197983,0.402296,5.597385

In [145]:
whisper.groupby(['api'])[['null_cnt','time_average','cer_average','wer_average']].mean()

         null_cnt  time_average  cer_average  wer_average
api
whisper       2.0      1.579135     0.112295     0.265891

In [146]:
def total_analyze(duration_df):
    total=pd.DataFrame()
    api_list=['returnzero','naver','azure','google','whisper']
    for api in api_list:
        target=[]
        for file in file_list:
            if api in file:
                target.append(file)

        zhengli=[]
        for t in target:
            api=t.split('_')[-1].split('.csv')[0]
            dataset=t.split('cw_')[1].split('_'+api)[0]
            df=pd.read_csv(t)

            # 인식 안된 데이터 제외 및 카운트
            null_df=df[((df['recognized_text'].isnull())|(df['recognized_text']=='error'))]
            df=df[~((df['recognized_text'].isnull())|(df['recognized_text']=='error'))]

            # 문자열일경우
            df['execution_time']=df['execution_time'].astype('float64')

            null_cnt=len(null_df)
            df=pd.merge(df, duration_df, on='file_name', how='left')
            mt_average_length = df['modified_text'].str.len().mean()
            rt_average_length = df['recognized_text'].str.len().mean()
            time_average=df['execution_time'].mean()
            cer_average=df['cer'].mean()
            wer_average=df['wer'].mean()
            duration_average=df['duration'].mean()
            zhengli.append([api, dataset,null_cnt, mt_average_length, rt_average_length, time_average,cer_average,wer_average, duration_average])
        zhengli=pd.DataFrame(zhengli)
        zhengli.columns=['api','dataset','null_cnt', 'mt_average_length', 'rt_average_length', 'time_average','cer_average','wer_average', 'duration_average']
        zhengli=zhengli.groupby(['api'])[['null_cnt','time_average','cer_average','wer_average']].mean()
        zhengli.reset_index(inplace=True)
        total=pd.concat([total, zhengli])
    return total

In [147]:
total=total_analyze(duration_df)

In [148]:
total

          api  null_cnt  time_average  cer_average  wer_average
0  returnzero      0.25      1.571182     0.105238     0.244053
0       naver     57.75      3.266915     0.315004     0.554032
0       azure      3.50      1.186635     0.115601     0.256570
0      google     42.00      1.029293     0.233461     0.433155
0     whisper      2.00      1.579135     0.112295     0.265891